<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360887096485-6dhak3dth71b55k51l5pf8i8sh2ki8am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360887096485-6dhak3dth71b55k51l5pf8i8sh2ki8am</string>
	<key>API_KEY</key>
	<string>AIzaSyDYOGWSSMEfQWroZOND1DarHGF0-TR_ivg</string>
	<key>GCM_SENDER_ID</key>
	<string>360887096485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-eb732</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-eb732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360887096485:ios:03d99c6ab2d6f2b0ad294c</string>
</dict>
</plist>